@model IEnumerable<BlueBadge.Data.Tasting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Beer.BeerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brewery.BreweryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drinker.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTasting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Beer.BeerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brewery.BreweryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drinker.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfTasting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TastingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TastingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TastingID })
        </td>
    </tr>
}

</table>
