@model IEnumerable<BlueBadge.Data.Brewery>

@{
    ViewBag.Title = "Index";
}

<h2>Breweries</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BreweryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrewLocState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrewLocCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BreweryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrewLocState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrewLocCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRating)
        </td>
        <td>
        </td>
    </tr>
}

</table>
